<form method="post" action="{{ path('modules_delete', {'id': module.id}) }}" onsubmit="return confirm('Confirmée que vous voulez bien supprimer ce module : {{module.name}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ module.id) }}">
    <button class="btnAccess">Suprimée le module</button>
</form>
