{{ form_start(form) }}
    <section class="globalMain">
        {{ form_widget(form) }}
        <button class="btnAccess">{{ button_label|default('Sauvegarder') }}</button>
    </section>
{{ form_end(form) }}
